.App {
  text-align: center;
}
.header {
  text-align: left;
  position: relative;
  border-bottom: 1px solid #fff;
  cursor: none;
}
.headertext {
  position: absolute;
  top: 100px;
  left: 3vw;
  color: #fff
}
h1 {
  font-family: 'Major Mono Display', monospace;
}
h3 {
  font-family: 'Roboto Mono';
}
.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 2rem
}
.logos h4 {
  justify-self: left;
  width: 100%;
  font-family: 'Roboto Mono';
  color: #fff;
  padding-left: 3vw;
}
