.App {
  text-align: center;
}
.header {
  text-align: left;
  position: relative;
  border-bottom: 1px solid #fff;
}
.headertext {
  position: absolute;
  top: 100px;
  left: 3vw;
  color: #fff;
  text-shadow: #300 2px 2px 0;
}
h1 {
  font-family: 'Major Mono Display', monospace;
}
h3 {
  font-family: 'Roboto Mono';
}
h4 {
  width: 100%;
  font-family: 'Roboto Mono';
  color: #fff;
  padding-left: 3vw;
  text-shadow: #300 2px 2px 0;
}
.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 2rem
}
.featuredProjects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}
.project {
  width: 20vw;
}
